# This workflow is triggered when a GitHub release is created.
# It can also be run manually to publish to GitHub Packages PyPI registry.
# You can run this workflow by navigating to https://www.github.com/kaaass/opencode-sdk/actions/workflows/publish-github.yml
name: Publish GitHub Packages
on:
  workflow_dispatch:

  release:
    types: [published]

jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Install Rye
        run: |
          curl -sSf https://rye.astral.sh/get | bash
          echo "$HOME/.rye/shims" >> $GITHUB_PATH
        env:
          RYE_VERSION: '0.44.0'
          RYE_INSTALL_OPTION: '--yes'

      - name: Publish to GitHub Packages
        run: |
          bash ./bin/publish-github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}